<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button (click)="increment('banana')">Banana</ion-button>
    <ion-button (click)="increment('apple')">Manzana</ion-button>
    <ion-button (click)="increment('pear')">Pera</ion-button>
    <ion-button (click)="increment('grape')">Uva</ion-button>
    <ion-button (click)="increment('lemon')">Limón</ion-button>
    <p>Banana: {{counters['banana']}}</p>
    <p>Manzana: {{counters['apple']}}</p>
    <p>Pera: {{counters['pear']}}</p>
    <p>Uva: {{counters['grape']}}</p>
    <p>Limon: {{counters['lemon']}}</p>
    <ion-button (click)="reset()">Borrar</ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> Actividad 2.1 Controles UI  con frameworks javascript IONIC  </ion-content>
  <ion-content class="ion-padding"> Agustin Mites 	ion-menu-button </ion-content>
</div>
